body {
  background-color: #222;
}
header {
  text-align: center;
}

header .links a {
  color: black;
  font-family: 'Sonsie One', cursive;
}

h1 {
  text-align: center;
  font-family: 'Sonsie One', cursive;
}

.container {
  background-color: white;
  width: 90%;
  height: 100%;
  margin: auto;
}

.portrait {
  width: 100px;
  text-align: center;
}

#actors_box div {
  display: inline-block;
}

.hidden {
  display: none;
}

.starting_actor div {
  display: inline-block;
  height: 150px;
}

.core {
  float: left;
  padding-left: 3%;
  width: 75%;
}

.current {
  width: 20%;
  float: right;
}

.current div {
  display: inline-block;
  height: 150px;
}
.clearfix {
  clear: both;
}
footer {
  float: left;
  width: 100%;
  margin: auto;
  padding-top: 2%;
  background-color: white;
  text-align: center;
}