body {
  background-color: #222;
}
.container {
  background-color: white;
  width: 90%;
  float: left;
  margin: auto;
}

.portrait {
  width: 100px;
}

#starting_actors_box div {
  display: inline-block;
}

.hidden {
  display: none;
}

.starting_actor div {
  display: inline-block;
  height: 150;
}

.core {
  padding-left: 3%;
  width: 75%;
  float: left;
}

.current {
  width: 20%;
  float: left;
}

.current div {
  display: inline-block;
  height: 150;
}