.actor_string {
  text-align: center;
}
.point {
  display: inline-block;
  position: relative;
  top: -100px;
}

.starter {
  left: -20%;
}

.ender {
  right: -20%;
}

.sequence {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.sequence .connection {
  margin:auto;
}

.connection {
  display: inline-block;
  text-align: center;
}
