<header>
  <%= image_tag 'logo.png' %>
  <div class='links'>
    <%= link_to 'New Game', root_path %>
    <%= link_to 'Scores', games_path %>
    <%= link_to 'How To', pages_how_path %>
  </div>
</header>